<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>Label</key>
	<string>com.eudis.quant.frontend-dev</string>
	<key>ProgramArguments</key>
	<array>
		<string>/Users/eudis/ths/scripts/shell/run_frontend_dev.sh</string>
	</array>
	<key>WorkingDirectory</key>
	<string>/Users/eudis/ths/quant_dashboard/frontend</string>
	<key>StandardOutPath</key>
	<string>/Users/eudis/ths/quant_dashboard/frontend/frontend_server.log</string>
	<key>StandardErrorPath</key>
	<string>/Users/eudis/ths/quant_dashboard/frontend/frontend_server.err.log</string>
	<key>RunAtLoad</key>
	<true/>
	<key>KeepAlive</key>
	<true/>
	<key>EnvironmentVariables</key>
	<dict>
		<key>PATH</key>
		<string>/Users/eudis/.nvm/versions/node/v24.14.1/bin:/opt/homebrew/bin:/usr/local/bin:/usr/bin:/bin:/usr/sbin:/sbin</string>
	</dict>
</dict>
</plist>
