<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>Label</key>
	<string>com.eudis.quant.daily-pick-save</string>
	<key>ProgramArguments</key>
	<array>
		<string>/usr/bin/python3</string>
		<string>/Users/eudis/ths/quant_core/execution/daily_pick_cli.py</string>
		<string>save</string>
	</array>
	<key>WorkingDirectory</key>
	<string>/Users/eudis/ths</string>
	<key>StandardOutPath</key>
	<string>/Users/eudis/ths/daily_pick_save.log</string>
	<key>StandardErrorPath</key>
	<string>/Users/eudis/ths/daily_pick_save_err.log</string>
	<key>StartCalendarInterval</key>
	<dict>
		<key>Hour</key>
		<integer>15</integer>
		<key>Minute</key>
		<integer>30</integer>
	</dict>
</dict>
</plist>
