PUSHPLUS_TOKEN=
QUANT_BASE_DIR=/Users/eudis/ths
QUANT_BREAKOUT_MIN_SCORE=69.00
QUANT_DIPBUY_MIN_SCORE=64.00
QUANT_LATE_PULL_TRAP_THRESHOLD_PCT=4.00
QUANT_DIPBUY_PREMIUM_MODEL_PATH=/Users/eudis/ths/dipbuy_premium_xgboost.json
OLLAMA_API=http://127.0.0.1:11434/api/generate
OLLAMA_MODEL=qwen2.5:14b
